# Pregled sintakse

## Spremenljivke

In [1]:
ime_spremenljivke = 123

In [3]:
x = 12
print(x)
X = 34
print(X)

12
34

In [4]:
False = 12

SyntaxError: cannot assign to False (3634007298.py, line 1)

In [10]:
x = 12
print(type(x))

x = "string"
print(type(x))

<class 'int'>
<class 'str'>

## Integer

In [11]:
x = 2**100
print(x)
print(type(x))

1267650600228229401496703205376
<class 'int'>

## Float

In [13]:
x = 3.0
print(type(x))
print(x)

<class 'float'>
3.0

## Complex

In [14]:
x = 12 + 324j
print(type(x))
print(x)

<class 'complex'>
(12+324j)

In [15]:
x = 1 + 2j
y = 5 - 3j

print(x + y)

(6-1j)

## Booleans

In [18]:
x = False#True
print(type(x))
print(x)

<class 'bool'>
False

In [25]:
x = ()
y = bool(x)
print(type(y))
print(y)

<class 'bool'>
False

In [28]:
x = 123
print(type(x))
y = complex(x)
print(type(y))
print(y)

<class 'int'>
<class 'complex'>
(123+0j)

## Strings

In [29]:
x = "moj string"
print(type(x))
print(x)

<class 'str'>
moj string

In [30]:
x = 'moj string'
print(type(x))
print(x)

<class 'str'>
moj string

In [31]:
x = "moj string'
print(x)

SyntaxError: unterminated string literal (detected at line 1) (4050864860.py, line 1)

In [32]:
x = "Don't do that"
print(x)

Don't do that

In [33]:
x = 'Don"t do that'
print(x)

Don"t do that

In [34]:
x = ""
print(type(x))
print(x)

<class 'str'>

In [37]:
x = "Prvo linija \n Druga linja"
print(x)

Prvo linija
 Druga linja

In [43]:
x = "X:\t123\b"
print(x)

X:	123

In [44]:
x = 'Don\'t do that'
print(x)
print(type(x))

Don't do that
<class 'str'>

In [45]:
x = '''prva vrstica
druga vrstica
tretja vrstica
'''

print(type(x))
print(x)

<class 'str'>
prva vrstica
druga vrstica
tretja vrstica

### String formatting

In [47]:
ime = "Gregor"
age = 26
izpis = f"{ime} je star {age}"
print(izpis)
print(type(izpis))

Gregor je star 26
<class 'str'>

In [53]:
ime = "Gregor"
age = 26
izpis = f"{ime:-^10} je star {age:e}"
print(izpis)
print(type(izpis))

--Gregor-- je star 2.600000e+01
<class 'str'>

In [54]:
ime = "Gregor"
age = 26
izpis = "{} je star {}".format(ime, age)
print(izpis)
print(type(izpis))

Gregor je star 26
<class 'str'>

In [56]:
ime = "Gregor"
age = 26
izpis = "%s je star %d" % (ime, age)
print(izpis)
print(type(izpis))

Gregor je star 26
<class 'str'>

# Input function

In [63]:
x = int(input("Vnesi starost: "))
print(x)
print(type(x))

print(f"Star si {x*12} mesecev.")

Vnesi starost: 24
24
<class 'int'>
Star si 288 mesecev.

## String operations

In [64]:
my_str = "Živjo Anže. Star si 10 let."
print(my_str.upper())

ŽIVJO ANŽE. STAR SI 10 LET.

In [65]:
print(my_str.lower())

živjo anže. star si 10 let.

In [69]:
print(my_str.startswith("Živjo"))
print(my_str.endswith("let."))

True
True

In [72]:
print(my_str.strip("."))

Živjo Anže. Star si 10 let

In [84]:
moj_str = "      Prva        linija    "
print(moj_str.strip())

Prva        linija

In [87]:
moj_str = "      Prva        linija    "
print(moj_str.replace(" ", ""))

Prvalinija

In [89]:
moj_str = "Hallo"
print(moj_str + moj_str)

HalloHallo

# Matematične operacije

In [90]:
x = 9
y = 4

In [91]:
x + y

13

In [92]:
x - y

5

In [93]:
x / y

2.25

In [94]:
8 / 2

4.0

In [95]:
x * y

36

In [96]:
x**y

6561

In [97]:
x%y

1

In [98]:
x//y

2

In [103]:
counter = 10
print(counter)

counter = counter + 1
print(counter)

counter *= 2
print(counter)

10
11
22

### Potek operacij

|             Operacije            |                       Opis                       |
|:--------------------------------:|:------------------------------------------------:|
| **                               | exponentiation                                   |
| +x, -x, ~x                       | unary positive, unary negation, bitwise negation |
| \*, /, //, %                     | multiplication, division, floor division, modulo |
| +, -                             | addition, subtraction                            |
| <<, >>                           | bit shifts                                       |
| &                                | bitwise AND                                      |
| ^                                | bitwise XOR                                      |
| \|                               | bitwise OR                                       |
| ==, !=, <, <=, >, >=, is, is not | comparisons, identity                            |
| not                              | Boolean NOT                                      |
| and                              | Boolean AND                                      |
| or                               | Boolean OR                                       |

In [104]:
x = 20 + 4 * 10
print(x)

60

In [105]:
x = (20 + 4) * 10
print(x)

240

## Primerjalne operacije

In [106]:
5 < 10

True

In [107]:
5 > 10

False

In [108]:
5 <= 5

True

In [109]:
4 >= 5

False

In [110]:
5 == 5

True

In [111]:
3 != 4

True

# Logične operacije

In [113]:
x = True
not x

False

In [114]:
x = True
y = False
x or y

True

In [116]:
x = True
y = True
x and y

True

In [118]:
"a" in "abeceda"

True

In [120]:
4 in [1,2,3,5,7,11,13]

False

In [121]:
5 == 5

True

In [126]:
a = [1,2,3]
b = [1,2,3]
c = a

a[0] = 100
print(a)
print(c)

print(id(a))
print(id(b))
print(id(c))

[100, 2, 3]
[100, 2, 3]
140102302353728
140102302323200
140102302353728

# List

In [130]:
živali = ["pingvin", "medved", "volk", "los"]
print(type(živali))
print(živali)

<class 'list'>
['pingvin', 'medved', 'volk', 'los']

In [131]:
a = ["pingvin", "medved", "volk", "los"]
b = ["medved", "pingvin", "volk", "los"]

print(a == b)

False

In [132]:
a = [12, 12.3, 1+2j, "string", False]
print(type(a))
print(a)

<class 'list'>
[12, 12.3, (1+2j), 'string', False]

In [140]:
a = ["foo", "bar", "baz", "qux", "quux", "corge"]
print(a[0])
print(a[5])
print(a[-1])
print(a[-2])

foo
corge
corge
quux

In [143]:
print(a[2:5])
print(a[-5:-2])

['baz', 'qux', 'quux']
['bar', 'baz', 'qux']

In [144]:
a[:-2]

['foo', 'bar', 'baz', 'qux']

In [145]:
a[2:]

['baz', 'qux', 'quux', 'corge']

In [146]:
a[:]

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [147]:
a = [1,2,3,4,5,6,7,8,9]
a[1:-2:2]

[2, 4, 6]

In [148]:
a[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [149]:
l = [[1,2,3],
     [4,5,6],
     [7,8,9]]

print(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [151]:
print(l[0][-1])

3

In [155]:
x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff", ], "g"]
print(x[1][1][0])

ccc

In [172]:
a = ["pingvin", "medved", "los", "volk"]

a[2] = "koza"
print(a)

del a[-1]
print(a)

a.append("macka")
print(a)

a.extend([1,2,3])
print(a)

a.insert(1, "riba")
print(a)

a.remove("riba")
print(a)

x = a.pop(2)
print(x)
print(a)

a[1], a[2] = a[2], a[1]
print(a)


a = ["pingvin", "medved", "los", "volk"]
sorted(a, reverse=True, key=lambda x: x[1])

['pingvin', 'medved', 'koza', 'volk']
['pingvin', 'medved', 'koza']
['pingvin', 'medved', 'koza', 'macka']
['pingvin', 'medved', 'koza', 'macka', 1, 2, 3]
['pingvin', 'riba', 'medved', 'koza', 'macka', 1, 2, 3]
['pingvin', 'medved', 'koza', 'macka', 1, 2, 3]
koza
['pingvin', 'medved', 'macka', 1, 2, 3]
['pingvin', 'macka', 'medved', 1, 2, 3]

['los', 'volk', 'pingvin', 'medved']

## Tupels

In [173]:
t = ("pingvin", "medved", "los", "volk")
print(type(t))
print(t)

<class 'tuple'>
('pingvin', 'medved', 'los', 'volk')

In [174]:
t = ("pingvin", "medved", "los", "volk")
t2 = ("pingvin", "medved", "volk", "los")

t == t2

False

In [175]:
t = (12, 12.3, True, "string")
print(type(t))
print(t)

<class 'tuple'>
(12, 12.3, True, 'string')

In [178]:
t = ("pingvin", "medved", "volk", "los")
print(t[-1])
print(t[0])
print(t[1:-1])

los
pingvin
('medved', 'volk')

In [180]:
t = (("aa", "bb"), "c", "d")
print(t[0][-1])

bb

In [183]:
t = (1,2,3,4,5,6)
#t[-1] = 100
del t[0]

TypeError: 'tuple' object doesn't support item deletion

In [184]:
l = []
print(type(l))
print(l)

<class 'list'>
[]

In [185]:
t = ()
print(type(t))
print(t)

<class 'tuple'>
()

In [187]:
#t = (12)
t = (12,)
print(type(t))
print(t)

<class 'tuple'>
(12,)

# Dictionaries

In [188]:
d = {"macek": "Silvester",
    "pes": "Fido",
    "papagaj": "Kakadu"}
print(type(d))
print(d)

<class 'dict'>
{'macek': 'Silvester', 'pes': 'Fido', 'papagaj': 'Kakadu'}

In [190]:
d = {"macek": 1,
    "pes": "Fido",
    "papagaj": {
        1: 100,
        2: 200,
        3: 300}
    }
print(type(d))
print(d)

<class 'dict'>
{'macek': 1, 'pes': 'Fido', 'papagaj': {1: 100, 2: 200, 3: 300}}

In [195]:
d = {"macek": "Silvester",
    "pes": "Fido",
    "papagaj": "Kakadu"}

d["koza"] = "Micka"
print(d)

d["pes"] = "Rex"
print(d)

del d["pes"]
print(d)

{'macek': 'Silvester', 'pes': 'Fido', 'papagaj': 'Kakadu', 'koza': 'Micka'}
{'macek': 'Silvester', 'pes': 'Rex', 'papagaj': 'Kakadu', 'koza': 'Micka'}
{'macek': 'Silvester', 'papagaj': 'Kakadu', 'koza': 'Micka'}

In [203]:
d = {1: "Silvester",
    2.3: "Fido",
    ("a", "b"): "Kakadu",
    True: "moj string",
    "string": "še en string",
    None: "none",
#[1,2,3]: "123"
    }

d[("a", "b")]
d["string"]
d[None]

d[True]

TypeError: unhashable type: 'list'

In [204]:
d = {"macek": "Silvester",
    "pes": "Fido",
    "papagaj": "Kakadu",
    "macek": "Amadeus"}

print(d)

{'macek': 'Amadeus', 'pes': 'Fido', 'papagaj': 'Kakadu'}

In [206]:
d = {}
print(type(d))
print(d)

<class 'dict'>
{}

In [205]:
d.clear()
print(d)

{}

In [209]:
d = {"macek": "Silvester",
    "pes": "Fido",
    "papagaj": "Kakadu"}

x = d.get("koza", False)
print(x)

False

In [210]:
d = {"macek": "Silvester",
    "pes": "Fido",
    "papagaj": "Kakadu"}

d.items()

dict_items([('macek', 'Silvester'), ('pes', 'Fido'), ('papagaj', 'Kakadu')])

In [211]:
d = {"macek": "Silvester",
    "pes": "Fido",
    "papagaj": "Kakadu"}

d.keys()

dict_keys(['macek', 'pes', 'papagaj'])

In [212]:
d = {"macek": "Silvester",
    "pes": "Fido",
    "papagaj": "Kakadu"}

d.values()

dict_values(['Silvester', 'Fido', 'Kakadu'])

In [213]:
d = {"macek": "Silvester",
    "pes": "Fido",
    "papagaj": "Kakadu"}

x = d.pop("pes")
print(x)
print(d)

Fido
{'macek': 'Silvester', 'papagaj': 'Kakadu'}

# Sets

In [215]:
x = {1, 2, 3, 4, 5, 6, 1, 2, 1, 2}

print(type(x))
print(x)

<class 'set'>
{1, 2, 3, 4, 5, 6}

In [216]:
x1 = {1, 2, 3, 4}
x2 = {4, 5, 6, 7}

print(x1.union(x2))

{1, 2, 3, 4, 5, 6, 7}

In [217]:
x1 = {1, 2, 3, 4}
x2 = {4, 5, 6, 7}

print(x1.intersection(x2))

{4}

In [218]:
x1 = {1, 2, 3, 4}
x2 = {4, 5, 6, 7}

print(x1.difference(x2))

{1, 2, 3}

In [220]:
x1 = {1, 2, 3, 4}
x2 = {4, 5, 6, 7}

print(x1.symmetric_difference(x2))

{1, 2, 3, 5, 6, 7}

In [223]:
s = {1, 12.3, "string", ("a", "b")}
print(type(s))
print(s)

<class 'set'>
{1, 12.3, ('a', 'b'), 'string'}

In [225]:
s = set()
print(type(s))
print(s)

<class 'set'>
set()

In [226]:
x = {1,2,3,4}
x.add(5)
print(x)

{1, 2, 3, 4, 5}

In [227]:
x.remove(2)
print(x)

{1, 3, 4, 5}

In [229]:
x.clear()
print(x)

set()

## Frozensets

In [230]:
x = frozenset([1, 2, 3, 4, 5])
print(type(x))
print(x)

<class 'frozenset'>
frozenset({1, 2, 3, 4, 5})

In [231]:
x.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

# Flow control statements

## IF

```python
if <expr>:
    <statement>
    
<next statement>
```

In [239]:
x = 0
y = 5

if x < y:
    print("Smo znotraj if")
    print("Nadaljevanje")
    
print("Nadaljevanje programa")

Smo znotraj if
Nadaljevanje
Nadaljevanje programa

## ELSE

In [241]:
x = 100

if x > 1000:
    print("IF block kode")
else:
    print("else del kode")
    
print("Nadaljevanje programa")

else del kode
Nadaljevanje programa

## ELIF

In [242]:
x = 20

if x > 100:
    print("x večji od 100")
elif x > 50:
    print("x večji od 50")
elif x >20:
    print("x večji od 20")
else:
    print("else")
    
print("nadaljevanje programa")

else
nadaljevanje programa

In [246]:
if x < 0 and x > 100:
    print("znotraj if")

```python
z =

In [248]:
x = 800
z = 1+x if x > 50 else x**2
print(z)

801

In [251]:
# nek komentar

'''
še en komentar
'''


print()

## Pass

In [252]:
if True:
    # dodaj zadevo
    pass


if False:
    print("neki druzga")

# While

In [255]:
lepo_vreme = True

while lepo_vreme:
    print("Vreme je lepo")
    lepo_vreme = False
    
print("Nadaljevanje programa")

Vreme je lepo
Nadaljevanje programa

In [256]:
i = 0

while i < 10:
    print("SMo na koraku: ", i)
    i += 1
    
print("Nadaljevanje program")

SMo na koraku:  0
SMo na koraku:  1
SMo na koraku:  2
SMo na koraku:  3
SMo na koraku:  4
SMo na koraku:  5
SMo na koraku:  6
SMo na koraku:  7
SMo na koraku:  8
SMo na koraku:  9
Nadaljevanje program

In [257]:
temperatura = 15

while temperatura < 24:
    print("Heating..")
    temperatura += 1

Heating..
Heating..
Heating..
Heating..
Heating..
Heating..
Heating..
Heating..
Heating..

## For loop

In [258]:
primes = [2, 3, 5, 7, 11, 13]

for prime in primes:
    print(prime)
    
print("Nadaljevanje programa")

2
3
5
7
11
13
Nadaljevanje programa

In [259]:
a = list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [262]:
for i in range(4, 20, 3):
    print("SMo na koraku: ", i)

SMo na koraku:  4
SMo na koraku:  7
SMo na koraku:  10
SMo na koraku:  13
SMo na koraku:  16
SMo na koraku:  19

In [274]:
a, b, c = 1, 2, 3
print(a)

1

In [275]:
a = 1
b = 2

a, b = b, a
print(a)
print(b)

2
1

In [276]:
a, b = (1,2)
print(a, b)

1 2

In [273]:
d = {
    "macka": "Silvester",
    "pes": "Fido",
    "papagaj": "Kakadu"
}

print(d.items())
for key, value in d.items():
    print(key, value)

dict_items([('macka', 'Silvester'), ('pes', 'Fido'), ('papagaj', 'Kakadu')])
macka Silvester
pes Fido
papagaj Kakadu

In [279]:
l = ["a", "b", "c", "d", "e"]

for index, char in enumerate(l):
    print(index, char)

0 a
1 b
2 c
3 d
4 e

## Break

In [283]:
avti = ["ok", "ok", "ok", "slab", "slab", "ok"]

for avto in avti:
    if avto == "slab":
        print("Avto je zanič")
        break
    else:
        print("Avto je ok")
        
print("Nadaljevanje programa")

Avto je ok
Avto je ok
Avto je ok
Avto je zanič
Nadaljevanje programa

## Continue

In [286]:
avti = ["ok", "ok", "ok", "slab", "slab", "ok"]

for avto in avti[::-1]:
    if avto == "slab":
        print("Avto je zanič")
        continue
    print("Avto je ok")
    print("Naslednji krak zanke")
        
print("Nadaljevanje programa")

Avto je ok
Naslednji krak zanke
Avto je zanič
Avto je zanič
Avto je ok
Naslednji krak zanke
Avto je ok
Naslednji krak zanke
Avto je ok
Naslednji krak zanke
Nadaljevanje programa

## Switch

In [290]:
response_code = 303
match response_code:
    case 200:
        print("we all good")
    case 203:
        print("we good. no data")
    case 404:
        print("error 404")
    case _:
        print("default")

default

# Funkcije

In [291]:
def ime_funkcije():
    print("Hello World")
    
ime_funkcije()

Hello World

In [293]:
hello2()

def hello2():
    print("Hello world 2")

NameError: name 'hello2' is not defined

In [297]:
def funkcija_1(x, y, z):
    print(f"Vrednost x: {x}")
    print(f"Vrednost y: {y}")
    print(f"Vrednost z: {z}")
    
funkcija_1(1, 2, 3)
funkcija_1(3, 2, 1)

Vrednost x: 1
Vrednost y: 2
Vrednost z: 3
Vrednost x: 3
Vrednost y: 2
Vrednost z: 1

In [298]:
funkcija_1(1, 2)

TypeError: funkcija_1() missing 1 required positional argument: 'z'

In [299]:
funkcija_1(1, 2, 3, 4)

TypeError: funkcija_1() takes 3 positional arguments but 4 were given

In [301]:
def pozdrav(naslavljanje, ime, priimek):
    print(f"Pozdravljen {naslavljanje} {ime} {priimek}.")
    
pozdrav(ime="Gregor", naslavljanje="G.", priimek="Balkovec")

Pozdravljen G. Gregor Balkovec.

In [303]:
pozdrav(zadnje_ime = "Balkovec", ime="Gregor", naslavljanje="G.")

TypeError: pozdrav() got an unexpected keyword argument 'zadnje_ime'

In [304]:
pozdrav("G.", priimek="Balkovec", ime="Gregor")

Pozdravljen G. Gregor Balkovec.

In [305]:
pozdrav(ime="Gregor", "G.", priimek="Balkovec")

SyntaxError: positional argument follows keyword argument (507490022.py, line 1)

In [310]:
def pozdrav(naslavljanje="gospod", ime="Miha", priimek="Novak"):
    print(f"Pozdravljeni {naslavljanje} {ime} {priimek}.")

pozdrav(ime="Gregor")

Pozdravljeni gospod Gregor Novak.

In [312]:
def funkcija(x, y=0, z):
    print(x+y+z)
    
funkcija(1, 2, 3)

SyntaxError: non-default argument follows default argument (3094324801.py, line 1)

### \*args and \*\*kwargs

In [317]:
def test_args(a, b, c, *args):
    print(a)
    print(b)
    print(c)
    print(args)
    
test_args(1, 2, 3, 4, 5, 6, 7, 8)

1
2
3
(4, 5, 6, 7, 8)

In [321]:
def test_kwargs(a, b, c, **kwargs):
    print(a)
    print(b)
    print(c)
    print(kwargs)
    
test_kwargs(a=1, b=2, c=3, d=4, e=5, f=6)

1
2
3
{'d': 4, 'e': 5, 'f': 6}

In [324]:
def moja_funkcija(podatki, barva_grafa="črna"):
    print("Barva grafa je: ", barva_grafa)
    
moja_funkcija([1,2,3,4], barva_grafa="rdeča")

Barva grafa je:  rdeča

In [326]:
def moja_funkcija(podatki, barva="črna", **kwargs):
    if "barva_grafa" in kwargs.keys():
        print("Barva grafa je: ", kwargs["barva_grafa"])
    else:
        print("Barva grafa je: ", barva)
    
moja_funkcija([1,2,3,4], barva_grafa="rdeča")

Barva grafa je:  rdeča

## Returning value

In [329]:
def sestevalnik(a, b):
    return a+b
    print("Hello world")

x = sestevalnik(1, 2)
print(x)

3

In [330]:
def pozdrav():
    print("Hello world")
    
x = pozdrav()
print(x)

Hello world
None

In [332]:
def vecje_od_5(x):
    if x > 5:
        return True
    else:
        return False
    
y = vecje_od_5(1)
print(y)

False

In [334]:
def add_numbers(a, b, c):
    x = a+b
    y = a+c
    z = b+c
    return x, y, z

data = add_numbers(1, 2, 3)
print(data)

(3, 4, 5)

In [337]:
def hello(ime):
    print("Hello ", ime)
    
l = [hello, 2, 3, "Gregor"]
l[0]("Fido")

Hello  Fido

# Lambda Funkcije

In [339]:
(lambda x,y: x+y)(4, 5)

9

In [343]:
data = [
  {
    "id": "binancecoin",
    "symbol": "bnb",
    "name": "Binance Coin",
    "image": "https://assets.coingecko.com/coins/images/825/large/binance-coin-logo.png?1547034615",
    "current_price": 212.03,
    "market_cap": 33015186690,
    "total_volume": 2490184836,
    "high_24h": 230.59,
    "low_24h": 210.87,
  },
  {
    "id": "bitcoin",
    "symbol": "btc",
    "name": "Bitcoin",
    "image": "https://assets.coingecko.com/coins/images/1/large/bitcoin.png?1547033579",
    "current_price": 47553,
    "market_cap": 901453728232,
    "total_volume": 47427138554,
    "high_24h": 51131,
    "low_24h": 48056,
  },
  {
    "id": "cardano",
    "symbol": "ada",
    "name": "Cardano",
    "image": "https://assets.coingecko.com/coins/images/975/large/cardano.png?1547034860",
    "current_price": 0.84514,
    "market_cap": 27210647217,
    "total_volume": 3204270671,
    "high_24h": 0.919055,
    "low_24h": 0.843236,
  },
  {
    "id": "ethereum",
    "symbol": "eth",
    "name": "Ethereum",
    "image": "https://assets.coingecko.com/coins/images/279/large/ethereum.png?1595348880",
    "current_price": 1479.97,
    "market_cap": 172447578072,
    "total_volume": 24709055087,
    "high_24h": 1597.13,
    "low_24h": 1493,
  },
  {
    "id": "litecoin",
    "symbol": "ltc",
    "name": "Litecoin",
    "image": "https://assets.coingecko.com/coins/images/2/large/litecoin.png?1547033580",
    "current_price": 171.49,
    "market_cap": 11561005268,
    "total_volume": 4950077782,
    "high_24h": 187.34,
    "low_24h": 172.45,
  },
  {
    "id": "polkadot",
    "symbol": "dot",
    "name": "Polkadot",
    "image": "https://assets.coingecko.com/coins/images/12171/large/aJGBjJFU_400x400.jpg?1597804776",
    "current_price": 29.28,
    "market_cap": 28856989783,
    "total_volume": 1266769267,
    "high_24h": 32.2,
    "low_24h": 29.54,
  },
  {
    "id": "ripple",
    "symbol": "xrp",
    "name": "XRP",
    "image": "https://assets.coingecko.com/coins/images/44/large/xrp-symbol-white-128.png?1605778731",
    "current_price": 0.360658,
    "market_cap": 16580549437,
    "total_volume": 2357746464,
    "high_24h": 0.381072,
    "low_24h": 0.358941,
  },
  {
    "id": "tether",
    "symbol": "usdt",
    "name": "Tether",
    "image": "https://assets.coingecko.com/coins/images/325/large/Tether-logo.png?1598003707",
    "current_price": 0.83869,
    "market_cap": 32307660438,
    "total_volume": 82854947322,
    "high_24h": 0.843104,
    "low_24h": 0.832594,
  },
  {
    "id": "uniswap",
    "symbol": "uni",
    "name": "Uniswap",
    "image": "https://assets.coingecko.com/coins/images/12504/large/uniswap-uni.png?1600306604",
    "current_price": 24.94,
    "market_cap": 13099199643,
    "total_volume": 939432128,
    "high_24h": 27.92,
    "low_24h": 24.78,
  }
]



sorted(data, key=lambda x: x["current_price"], reverse=True)

[{'id': 'bitcoin',
  'symbol': 'btc',
  'name': 'Bitcoin',
  'image': 'https://assets.coingecko.com/coins/images/1/large/bitcoin.png?1547033579',
  'current_price': 47553,
  'market_cap': 901453728232,
  'total_volume': 47427138554,
  'high_24h': 51131,
  'low_24h': 48056},
 {'id': 'ethereum',
  'symbol': 'eth',
  'name': 'Ethereum',
  'image': 'https://assets.coingecko.com/coins/images/279/large/ethereum.png?1595348880',
  'current_price': 1479.97,
  'market_cap': 172447578072,
  'total_volume': 24709055087,
  'high_24h': 1597.13,
  'low_24h': 1493},
 {'id': 'binancecoin',
  'symbol': 'bnb',
  'name': 'Binance Coin',
  'image': 'https://assets.coingecko.com/coins/images/825/large/binance-coin-logo.png?1547034615',
  'current_price': 212.03,
  'market_cap': 33015186690,
  'total_volume': 2490184836,
  'high_24h': 230.59,
  'low_24h': 210.87},
 {'id': 'litecoin',
  'symbol': 'ltc',
  'name': 'Litecoin',
  'image': 'https://assets.coingecko.com/coins/images/2/large/litecoin.png?1547033580',
  'current_price': 171.49,
  'market_cap': 11561005268,
  'total_volume': 4950077782,
  'high_24h': 187.34,
  'low_24h': 172.45},
 {'id': 'polkadot',
  'symbol': 'dot',
  'name': 'Polkadot',
  'image': 'https://assets.coingecko.com/coins/images/12171/large/aJGBjJFU_400x400.jpg?1597804776',
  'current_price': 29.28,
  'market_cap': 28856989783,
  'total_volume': 1266769267,
  'high_24h': 32.2,
  'low_24h': 29.54},
 {'id': 'uniswap',
  'symbol': 'uni',
  'name': 'Uniswap',
  'image': 'https://assets.coingecko.com/coins/images/12504/large/uniswap-uni.png?1600306604',
  'current_price': 24.94,
  'market_cap': 13099199643,
  'total_volume': 939432128,
  'high_24h': 27.92,
  'low_24h': 24.78},
 {'id': 'cardano',
  'symbol': 'ada',
  'name': 'Cardano',
  'image': 'https://assets.coingecko.com/coins/images/975/large/cardano.png?1547034860',
  'current_price': 0.84514,
  'market_cap': 27210647217,
  'total_volume': 3204270671,
  'high_24h': 0.919055,
  'low_24h': 0.843236},
 {'id': 'tether',
  'symbol': 'usdt',
  'name': 'Tether',
  'image': 'https://assets.coingecko.com/coins/images/325/large/Tether-logo.png?1598003707',
  'current_price': 0.83869,
  'market_cap': 32307660438,
  'total_volume': 82854947322,
  'high_24h': 0.843104,
  'low_24h': 0.832594},
 {'id': 'ripple',
  'symbol': 'xrp',
  'name': 'XRP',
  'image': 'https://assets.coingecko.com/coins/images/44/large/xrp-symbol-white-128.png?1605778731',
  'current_price': 0.360658,
  'market_cap': 16580549437,
  'total_volume': 2357746464,
  'high_24h': 0.381072,
  'low_24h': 0.358941}]

# Variable scope

In [347]:
def funkcija(spr1):
    spr2 = 20
    print("Spr1: ", spr1)
    print("Spr2: ", spr2)
    
funkcija(10)
print("Spr1", spr1)
print("Spr2: ", spr2)

Spr1:  10
Spr2:  20

NameError: name 'spr1' is not defined

In [348]:
spr1 = 10
print("Spr1: ", spr1)

if True:
    spr2 = 20
print("Spr2: ", spr2)

def funkcija():
    spr3 = 30
    print("Spr1: ", spr1)
    print("Spr2: ", spr2)
    print("Spr3: ", spr3)
    
funkcija()
print()

print("Spr1: ", spr1)
print("Spr2: ", spr2)

Spr1:  10
Spr2:  20
Spr1:  10
Spr2:  20
Spr3:  30

Spr1:  10
Spr2:  20

In [353]:
spr1 = 10
print("Spr1: ", spr1)

def funckija():
    spr1 = 200
    print("SPr1: ", spr1)
    
funckija()
print("Spr1: ", spr1)

Spr1:  10
SPr1:  200
Spr1:  10

In [354]:
spr1 = 10
print("Spr1: ", spr1)

def funckija():
    global spr1
    spr1 = 200
    print("SPr1: ", spr1)
    
funckija()
print("Spr1: ", spr1)

Spr1:  10
SPr1:  200
Spr1:  200

In [356]:
def funkcija():
    global x 
    x = 100
    print("X: ", x)
    
funkcija()
print(x)

X:  100
100

# Errors

In [357]:
if True
    print("neki neki")

SyntaxError: expected ':' (3874381818.py, line 1)

In [358]:
if True:
print("Neki")

IndentationError: expected an indented block after 'if' statement on line 1 (1975472246.py, line 2)

In [359]:
myfunction():
    print("hello")

SyntaxError: invalid syntax (1733826241.py, line 1)

In [360]:
1/0

ZeroDivisionError: division by zero

In [361]:
a = [1,2,3,4,5,6]
a[100]

IndexError: list index out of range

In [362]:
12 > "nekin"

TypeError: '>' not supported between instances of 'int' and 'str'

## Try-except statement

In [366]:
for _ in range(3):
    try:
        x = int(input("Vnesi prvo številko: "))
        y = int(input("Vnesi drugo številko: "))
        rezultat = x / y
        print(rezultat)
    except:
        print("Prišlo je do napake")
    print()

Vnesi prvo številko: asf
Prišlo je do napake

Vnesi prvo številko: 1
Vnesi drugo številko: 2
0.5

Vnesi prvo številko: 3
Vnesi drugo številko: 2
1.5

In [368]:
def delilnik():
    try:
        x = int(input("Vnesi prvo številko: "))
        y = int(input("Vnesi drugo številko: "))
        rezultat = x / y
        print(rezultat)
    except:
        print("Prišlo je do napake")
    
for _ in range(3):
    delilnik()
    print()

Vnesi prvo številko: 1
Vnesi drugo številko: 0
Prišlo je do napake

Vnesi prvo številko: as
Prišlo je do napake

Vnesi prvo številko: 1
Vnesi drugo številko: 2
0.5

In [370]:
def delilnik():
    x = int(input("Vnesi prvo številko: "))
    y = int(input("Vnesi drugo številko: "))
    rezultat = x / y
    print(rezultat)
    
for _ in range(3):
    try:
        delilnik()
    except Exception as e:
        print("Prišlo je do napake")
        print(type(e))
        print(e)
    print()

Vnesi prvo številko: ass
Prišlo je do napake
<class 'ValueError'>
invalid literal for int() with base 10: 'ass'

Vnesi prvo številko: 1
Vnesi drugo številko: 0
Prišlo je do napake
<class 'ZeroDivisionError'>
division by zero

Vnesi prvo številko: 1
Vnesi drugo številko: 2
0.5

In [373]:
def delilnik():
    x = int(input("Vnesi prvo številko: "))
    y = int(input("Vnesi drugo številko: "))
    rezultat = x / y
    print(rezultat)
    
for _ in range(3):
    try:
        delilnik()
    except ValueError as e:
        print("Vnos mora biti številka!")
        print(type(e))
        print(e)
    except ArithmeticError as e:
        print("Druga številka ne sme biti 0!")
        print(type(e))
        print(e)
    except Exception as e:
        print("Zmerja prestreže")
        print(type(e))
        print(e)
    print()

Vnesi prvo številko: a
Zmerja prestreže
<class 'ValueError'>
invalid literal for int() with base 10: 'a'

Vnesi prvo številko: 1
Vnesi drugo številko: 0
Zmerja prestreže
<class 'ZeroDivisionError'>
division by zero

Vnesi prvo številko: 1
Vnesi drugo številko: 2
0.5

In [377]:
try:
    x = int(input("Vnesi pozitivno številko: "))
    if x < 0:
        raise ValueError("Številka mora biti pozitivna!")
except ValueError as e:
    print("Value Error")
    print(e)

Vnesi pozitivno številko: -2
Value Error
Številka mora biti pozitivna!

In [379]:
try:
    x = int(input("Vnesi številko: "))
except:
    print("Prišlo je do napake")
else:
    print("else statement")
print("Nadaljevanje programa")

Vnesi številko: add
Prišlo je do napake
Nadaljevanje programa

In [382]:
try:
    x = int(input("Vnesi številko: "))
    1 / x
except ValueError:
    print("Prišlo je do napake")
else:
    print("Ni prišlo do napake")
finally:
    print("Finally!")
    
print("Nadaljevanje programa")

Vnesi številko: 0
Finally!

ZeroDivisionError: division by zero