# Del 04: Parsanje, analiza podatkov in generiranje poročil

# Branje in pisanje podatkov iz SQL podatkovnih baz

## SQLAlchemy

The [SQLAlchemy](https://www.sqlalchemy.org/) SQL Toolkit and Object Relational Mapper is a comprehensive set of tools for working with databases and Python. It provides a full suite of well-known enterprise-level persistence patterns, designed for efficient and high-performing database access. SQLAlchemy and Django's ORM are two of the most widely used object-relational mapping tools in the Python community.

The SQLAlchemy has three ways of working with database data:
- Raw SQL
- SQL Expression language
- ORM

Unlike many other ORM (Object Reational Mapping) tools, SQLAlchemy allows to use pure SQL statements. We can always resort to raw SQL. The SQL Expression API allows you to build SQL queries using Python objects and operators. The Expression API is an abstraction of the pure SQL statements and deals with various implementation differences between databases. The SQLAlchemy Object Relational Mapper presents a method of associating user-defined Python classes with database tables. The SQLAlchemy ORM is based on the SQL Expression language.

### Installations

Here we show how to install SQLAlchemy and other necessary packages:

`pip install SQLAlchemy`

We install the DBAPI drivers for PostgreSQL and MySQL. SQLAlchemy depends on these modules. The sqlite module is distributed with Python.

**[Dialects](https://docs.sqlalchemy.org/en/13/dialects/index.html)**

The dialect is the system SQLAlchemy uses to communicate with various types of DBAPI implementations and databases. The sections that follow contain reference documentation and notes specific to the usage of each backend, as well as notes for the various DBAPIs.

All dialects require that an appropriate DBAPI driver is installed.

Support for the MySQL database via the [PyMySQL driver](https://docs.sqlalchemy.org/en/13/dialects/mysql.html#module-sqlalchemy.dialects.mysql.pymysql).

`pip install PyMySQL`

Support for the PostgreSQL database via the [psycopg2 driver](https://docs.sqlalchemy.org/en/13/dialects/postgresql.html#module-sqlalchemy.dialects.postgresql.psycopg2).

`pip install psycopg2`

### SQLAlchemy version

In [1]:
import sqlalchemy

In [2]:
sqlalchemy.__version__

'1.3.19'

### Connecting

To connect we use create_engine():

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('sqlite:///:memory:', echo=True)

The echo flag is a shortcut to setting up SQLAlchemy logging, which is accomplished via Python’s standard logging module. With it enabled, we’ll see all the generated SQL produced. If you are working through this tutorial and want less output generated, set it to False. This tutorial will format the SQL behind a popup window so it doesn’t get in our way; just click the “SQL” links to see what’s being generated.

> **Lazy Connecting**: The Engine, when first returned by create_engine(), has not actually tried to connect to the database yet; that happens only the first time it is asked to perform a task against the database.

The return value of create_engine() is an instance of Engine, and it represents the core interface to the database, adapted through a dialect that handles the details of the database and DBAPI in use. In this case the SQLite dialect will interpret instructions to the Python built-in sqlite3 module.

The first time a method like Engine.execute() or Engine.connect() is called, the Engine establishes a real DBAPI connection to the database, which is then used to emit the SQL. When using the ORM, we typically don’t use the Engine directly once created; instead, it’s used behind the scenes by the ORM as we’ll see shortly.

#### Database Urls

<p>The <a class="reference internal" href="#sqlalchemy.create_engine" title="sqlalchemy.create_engine"><code class="xref py py-func docutils literal notranslate"><span class="pre">create_engine()</span></code></a> function produces an <a class="reference internal" href="connections.html#sqlalchemy.engine.Engine" title="sqlalchemy.engine.Engine"><code class="xref py py-class docutils literal notranslate"><span class="pre">Engine</span></code></a> object based
on a URL.  These URLs follow <a class="reference external" href="http://rfc.net/rfc1738.html">RFC-1738</a>, and usually can include username, password,
hostname, database name as well as optional keyword arguments for additional configuration.
In some cases a file path is accepted, and in others a “data source name” replaces
the “host” and “database” portions.  The typical form of a database URL is:</p>

`dialect+driver://username:password@host:port/database`

<p>Dialect names include the identifying name of the SQLAlchemy dialect,
a name such as <code class="docutils literal notranslate"><span class="pre">sqlite</span></code>, <code class="docutils literal notranslate"><span class="pre">mysql</span></code>, <code class="docutils literal notranslate"><span class="pre">postgresql</span></code>, <code class="docutils literal notranslate"><span class="pre">oracle</span></code>, or <code class="docutils literal notranslate"><span class="pre">mssql</span></code>.
The drivername is the name of the DBAPI to be used to connect to
the database using all lowercase letters. If not specified, a “default” DBAPI
will be imported if available - this default is typically the most widely
known driver available for that backend.</p>

PostgreSQL:

In [ ]:
# psycopg2 driver
engine = create_engine('postgresql+psycopg2://scott:tiger@localhost/mydatabase')

MySQL:

In [ ]:
# PyMySQL driver
engine = create_engine('mysql+pymysql://scott:tiger@localhost/foo')

SQLite:

In [ ]:
# sqlite://<nohostname>/<path>
# where <path> is relative:
engine = create_engine('sqlite:///foo.db')

SQLite connects to file-based databases, using the Python built-in module sqlite3 by default.

As SQLite connects to local files, the URL format is slightly different. The “file” portion of the URL is the filename of the database. For a relative file path, this requires three slashes:

### Execute SQL statements

In [5]:
from sqlalchemy import create_engine

eng = create_engine('sqlite:///data/logs.db')

with eng.connect() as con:
    rs = con.execute('SELECT * FROM weblog LIMIT 5;')        
    data = rs.fetchone()
    print(data)

(1, '10.128.2.1', '2017-11-29 06:58:55.000000', 200, 'GET')

In [6]:
with eng.connect() as con:
    rs = con.execute('SELECT * FROM weblog LIMIT 5;')        
    data = rs.fetchone()
    print(data)

(1, '10.128.2.1', '2017-11-29 06:58:55.000000', 200, 'GET')

In [7]:
with eng.connect() as con:
    rs = con.execute('SELECT * FROM weblog LIMIT 5;')        
    data = rs.fetchmany(3)
    print(data)

[(1, '10.128.2.1', '2017-11-29 06:58:55.000000', 200, 'GET'), (2, '10.128.2.1', '2017-11-29 06:59:02.000000', 302, 'POST'), (3, '10.128.2.1', '2017-11-29 06:59:03.000000', 200, 'GET')]

In [8]:
with eng.connect() as con:
    rs = con.execute('SELECT * FROM weblog LIMIT 5;')        
    data = rs.fetchall()
    print(data)

[(1, '10.128.2.1', '2017-11-29 06:58:55.000000', 200, 'GET'), (2, '10.128.2.1', '2017-11-29 06:59:02.000000', 302, 'POST'), (3, '10.128.2.1', '2017-11-29 06:59:03.000000', 200, 'GET'), (4, '10.131.2.1', '2017-11-29 06:59:04.000000', 200, 'GET'), (5, '10.130.2.1', '2017-11-29 06:59:06.000000', 200, 'GET')]

## Working with databases and Pandas

In [9]:
import pandas as pd
import numpy as np

<p>The <code class="xref py py-mod docutils literal notranslate"><span class="pre">pandas.io.sql</span></code> module provides a collection of query wrappers to both
facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction
is provided by SQLAlchemy if installed. In addition you will need a driver library for
your database. Examples of such drivers are <a class="reference external" href="http://initd.org/psycopg/">psycopg2</a>
for PostgreSQL or <a class="reference external" href="https://github.com/PyMySQL/PyMySQL">pymysql</a> for MySQL.
For <a class="reference external" href="https://docs.python.org/3/library/sqlite3.html">SQLite</a> this is
included in Python’s standard library by default.
You can find an overview of supported drivers for each SQL dialect in the
<a class="reference external" href="https://docs.sqlalchemy.org/en/latest/dialects/index.html">SQLAlchemy docs</a>.</p>

<p>If SQLAlchemy is not installed, a fallback is only provided for sqlite (and
for mysql for backwards compatibility, but this is deprecated and will be
removed in a future version).
This mode requires a Python database adapter which respect the <a class="reference external" href="https://www.python.org/dev/peps/pep-0249/">Python
DB-API</a>.</p>

The key functions are:

<table border="1" class="longtable docutils">
<colgroup>
<col width="10%">
<col width="90%">
</colgroup>
<tbody valign="top">
<tr class="row-odd"><td><a class="reference internal" href="../reference/api/pandas.read_sql_table.html#pandas.read_sql_table" title="pandas.read_sql_table"><code class="xref py py-obj docutils literal notranslate"><span class="pre">read_sql_table</span></code></a>(table_name,&nbsp;con[,&nbsp;schema,&nbsp;…])</td>
<td>Read SQL database table into a DataFrame.</td>
</tr>
<tr class="row-even"><td><a class="reference internal" href="../reference/api/pandas.read_sql_query.html#pandas.read_sql_query" title="pandas.read_sql_query"><code class="xref py py-obj docutils literal notranslate"><span class="pre">read_sql_query</span></code></a>(sql,&nbsp;con[,&nbsp;index_col,&nbsp;…])</td>
<td>Read SQL query into a DataFrame.</td>
</tr>
<tr class="row-odd"><td><a class="reference internal" href="../reference/api/pandas.read_sql.html#pandas.read_sql" title="pandas.read_sql"><code class="xref py py-obj docutils literal notranslate"><span class="pre">read_sql</span></code></a>(sql,&nbsp;con[,&nbsp;index_col,&nbsp;…])</td>
<td>Read SQL query or database table into a DataFrame.</td>
</tr>
<tr class="row-even"><td><a class="reference internal" href="../reference/api/pandas.DataFrame.to_sql.html#pandas.DataFrame.to_sql" title="pandas.DataFrame.to_sql"><code class="xref py py-obj docutils literal notranslate"><span class="pre">DataFrame.to_sql</span></code></a>(self,&nbsp;name,&nbsp;con[,&nbsp;schema,&nbsp;…])</td>
<td>Write records stored in a DataFrame to a SQL database.</td>
</tr>
</tbody>
</table>

> **Note:** The function read_sql() is a convenience wrapper around read_sql_table() and read_sql_query() (and for backward compatibility) and will delegate to specific function depending on the provided input (database table name or sql query). Table names do not need to be quoted if they have special characters.

<p>To connect with SQLAlchemy you use the <code class="xref py py-func docutils literal notranslate"><span class="pre">create_engine()</span></code> function to create an engine
object from database URI. You only need to create the engine once per database you are
connecting to.
For more information on <code class="xref py py-func docutils literal notranslate"><span class="pre">create_engine()</span></code> and the URI formatting, see the examples
below and the SQLAlchemy <a class="reference external" href="https://docs.sqlalchemy.org/en/latest/core/engines.html">documentation</a></p>

### Importing data from database

#### [read_sql_table](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql_table.html#pandas.read_sql_table)

Read SQL database table into a DataFrame.

Given a table name and a SQLAlchemy connectable, returns a DataFrame. This function does not support DBAPI connections.

In [10]:
eng = create_engine('sqlite:///data/logs.db')

In [11]:
weblog = pd.read_sql_table('weblog', eng)

In [12]:
weblog.head()

   id          ip           timestamp  status method
0   1  10.128.2.1 2017-11-29 06:58:55     200    GET
1   2  10.128.2.1 2017-11-29 06:59:02     302   POST
2   3  10.128.2.1 2017-11-29 06:59:03     200    GET
3   4  10.131.2.1 2017-11-29 06:59:04     200    GET
4   5  10.130.2.1 2017-11-29 06:59:06     200    GET

In [13]:
weblog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         500 non-null    int64
 1   ip         500 non-null    object
 2   timestamp  500 non-null    datetime64[ns]
 3   status     500 non-null    int64
 4   method     500 non-null    object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 19.7+ KB

You can also specify the name of the column as the DataFrame index, and specify a subset of columns to be read.

In [14]:
pd.read_sql_table('weblog', eng, index_col='id').head()

            ip           timestamp  status method
id
1   10.128.2.1 2017-11-29 06:58:55     200    GET
2   10.128.2.1 2017-11-29 06:59:02     302   POST
3   10.128.2.1 2017-11-29 06:59:03     200    GET
4   10.131.2.1 2017-11-29 06:59:04     200    GET
5   10.130.2.1 2017-11-29 06:59:06     200    GET

In [15]:
pd.read_sql_table('weblog', eng, 
                  index_col='id', 
                  columns=['id', 'status', 'method']).head()

    status method
id
1      200    GET
2      302   POST
3      200    GET
4      200    GET
5      200    GET

#### [read_sql_query](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql_query.html#pandas.read_sql_query)

Read SQL query into a DataFrame.

Returns a DataFrame corresponding to the result set of the query string. Optionally provide an index_col parameter to use one of the columns as the index, otherwise default integer index will be used.

In [16]:
query ="SELECT ip, status FROM weblog WHERE status = 302;"

In [17]:
pd.read_sql_query(query, eng).head()

           ip  status
0  10.128.2.1     302
1  10.131.2.1     302
2  10.130.2.1     302
3  10.129.2.1     302
4  10.130.2.1     302

<div class="alert alert-block alert-info">
<b>Vaja: </b> Write a SQL query that returns a df with all columns for ip = '10.128.2.1' using method GET. Id should be the index.
</div>

In [18]:
query ="SELECT * FROM weblog WHERE ip='10.128.2.1' AND method = 'GET';"

In [19]:
pd.read_sql_query(query, eng, index_col='id').head()

            ip                   timestamp  status method
id
1   10.128.2.1  2017-11-29 06:58:55.000000     200    GET
3   10.128.2.1  2017-11-29 06:59:03.000000     200    GET
7   10.128.2.1  2017-11-29 06:59:19.000000     200    GET
22  10.128.2.1  2017-11-29 13:38:20.000000     200    GET
24  10.128.2.1  2017-11-29 13:38:20.000000     200    GET

### Writing a DataFrame to a SQL database

Assuming the following data is in a DataFrame data, we can insert it into the database using to_sql().

#### [to_sql](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html)

Write records stored in a DataFrame to a SQL database.

Databases supported by SQLAlchemy are supported. Tables can be newly created, appended to, or overwritten.

Create an in-memory SQLite database.

In [20]:
engine = create_engine('sqlite:///:memory:', echo=False)

In [21]:
df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})

In [22]:
df

     name
0  User 1
1  User 2
2  User 3

In [23]:
df.to_sql(name='users', con=engine)

In [24]:
pd.read_sql_table('users', engine)

   index    name
0      0  User 1
1      1  User 2
2      2  User 3

In [25]:
df1 = pd.DataFrame({'name' : ['User 4', 'User 5']})

**if_exists : {‘fail’, ‘replace’, ‘append’}, default ‘fail’**

How to behave if the table already exists.
- fail: Raise a ValueError.
- replace: Drop the table before inserting new values.
- append: Insert new values to the existing table.

In [26]:
df1.to_sql('users', con=engine, if_exists='append')

In [27]:
df1

     name
0  User 4
1  User 5

In [28]:
pd.read_sql_table('users', engine)

   index    name
0      0  User 1
1      1  User 2
2      2  User 3
3      0  User 4
4      1  User 5

#### SQL data types

<p><a class="reference internal" href="../reference/api/pandas.DataFrame.to_sql.html#pandas.DataFrame.to_sql" title="pandas.DataFrame.to_sql"><code class="xref py py-func docutils literal notranslate"><span class="pre">to_sql()</span></code></a> will try to map your data to an appropriate
SQL data type based on the dtype of the data. When you have columns of dtype
<code class="docutils literal notranslate"><span class="pre">object</span></code>, pandas will try to infer the data type.</p>

You can always override the default type by specifying the desired SQL type of
any of the columns by using the <code class="docutils literal notranslate"><span class="pre">dtype</span></code> argument. This argument needs a
dictionary mapping column names to [SQLAlchemy types](https://docs.sqlalchemy.org/en/13/core/type_basics.html#generic-types) (or strings for the sqlite3
fallback mode).
For example, specifying to use the sqlalchemy <code class="docutils literal notranslate"><span class="pre">String</span></code> type instead of the
default <code class="docutils literal notranslate"><span class="pre">Text</span></code> type for string columns:

Specify the dtype (especially useful for integers with missing values). Notice that while pandas is forced to store the data as floating point, the database supports nullable integers. When fetching the data with Python, we get back integer scalars.

In [29]:
df = pd.DataFrame({"A": [1, None, 2], "B": ['dsds', 'haha', 'ldld']})

In [30]:
df

     A     B
0  1.0  dsds
1  NaN  haha
2  2.0  ldld

In [31]:
from sqlalchemy.types import String, Integer

In [32]:
dtype_dict = {"A": Integer(),
             "B": String(5)}

In [33]:
df.to_sql('users', con=engine, 
          if_exists='replace',
          index=False, 
          dtype=dtype_dict)

In [34]:
pd.read_sql_table('users', engine)

     A     B
0  1.0  dsds
1  NaN  haha
2  2.0  ldld

<p>With some databases, writing large DataFrames can result in errors due to
packet size limitations being exceeded. This can be avoided by setting the
<code class="docutils literal notranslate"><span class="pre">chunksize</span></code> parameter when calling <code class="docutils literal notranslate"><span class="pre">to_sql</span></code>.  For example, the following
writes <code class="docutils literal notranslate"><span class="pre">data</span></code> to the database in batches of 1000 rows at a time:</p>

```python
data.to_sql('data_chunked', engine, chunksize=1000)
```

### Primer: Uvoz podatkov iz CSV dokumenta v SQL bazo

In [35]:
weblog_df = pd.read_csv('data/weblogs_clean.csv')

In [36]:
weblog_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   IP      500 non-null    object
 1   Time    500 non-null    object
 2   Staus   500 non-null    int64
 3   Method  500 non-null    object
dtypes: int64(1), object(3)
memory usage: 15.8+ KB

In [37]:
weblog_df.head()

           IP                  Time  Staus Method
0  10.128.2.1  29/Nov/2017:06:58:55    200    GET
1  10.128.2.1  29/Nov/2017:06:59:02    302   POST
2  10.128.2.1  29/Nov/2017:06:59:03    200    GET
3  10.131.2.1  29/Nov/2017:06:59:04    200    GET
4  10.130.2.1  29/Nov/2017:06:59:06    200    GET

[Pretvorbe](https://www.programiz.com/python-programming/datetime/strftime)

In [38]:
weblog_df['Time'] = pd.to_datetime(weblog_df['Time'], format='%d/%b/%Y:%H:%M:%S')

In [39]:
weblog_df.head()

           IP                Time  Staus Method
0  10.128.2.1 2017-11-29 06:58:55    200    GET
1  10.128.2.1 2017-11-29 06:59:02    302   POST
2  10.128.2.1 2017-11-29 06:59:03    200    GET
3  10.131.2.1 2017-11-29 06:59:04    200    GET
4  10.130.2.1 2017-11-29 06:59:06    200    GET

In [40]:
weblog_df.rename(columns={'IP':'ip', 'Time':'timestamp', 'Staus':'status', 'Method':'method'}, inplace=True)

In [41]:
# dodamo HTTP_Ok če je Status enak 200
weblog_df['http_ok'] = weblog_df['status'] == 200

In [42]:
weblog_df.head()

           ip           timestamp  status method  http_ok
0  10.128.2.1 2017-11-29 06:58:55     200    GET     True
1  10.128.2.1 2017-11-29 06:59:02     302   POST    False
2  10.128.2.1 2017-11-29 06:59:03     200    GET     True
3  10.131.2.1 2017-11-29 06:59:04     200    GET     True
4  10.130.2.1 2017-11-29 06:59:06     200    GET     True

In [43]:
from sqlalchemy import create_engine
from sqlalchemy import DateTime, Integer, String, Boolean

In [44]:
engine = create_engine('sqlite:///data/web_logs.db', echo=False)

Dodamo podatke v tabelo:

In [45]:
dtype_dict = {'ip': String(15), 
              'timestamp': DateTime(), 
              'status': Integer(), 
              'method': String(10), 
              'http_ok': Boolean()
}

In [46]:
weblog_df.to_sql(name='weblog', 
                      con=engine, 
                      if_exists='append', 
                      index=False,
                      chunksize=100,
                      dtype=dtype_dict)

Preverimo podatke:

In [47]:
pd.read_sql_table('weblog', engine).head()

           ip           timestamp  status method  http_ok
0  10.128.2.1 2017-11-29 06:58:55     200    GET     True
1  10.128.2.1 2017-11-29 06:59:02     302   POST    False
2  10.128.2.1 2017-11-29 06:59:03     200    GET     True
3  10.131.2.1 2017-11-29 06:59:04     200    GET     True
4  10.130.2.1 2017-11-29 06:59:06     200    GET     True