# Tuple

Imajo enake lastnosti kot list, vendar so "immutable" - Njihovih vrednosti ne moremo spreminjati.

Definira se jih z navadnimi oklepaji ()

In [ ]:
t  = ("pingvin", "medved", "los", "volk")
print(t)

('pingvin', 'medved', 'los', 'volk')

In [ ]:
# Primer: Touples are ordered
t  = ("pingvin", "medved", "los", "volk")
t2  = ("pingvin", "volk", "medved", "los")

if t == t2:
    print("Touples are NOT ordered")
else:
    print("Touples ARE ordered")

Touples ARE ordered

In [ ]:
# Primer: Touples can contain any arbitrary object
t  = ("pingvin", "medved", "los", "volk", 1.23, True)
print(t)

('pingvin', 'medved', 'los', 'volk', 1.23, True)

In [ ]:
# Primer: Touples are indexed
t  = ("pingvin", "medved", "los", "volk")
print(t)

print(t[2]) # primer, da so elementi indexirani

print(t[1:3]) # slicing primer

('pingvin', 'medved', 'los', 'volk')
los
('medved', 'los')

In [ ]:
# Primer: Touples can be nested
t  = ("pingvin", "medved", "los", "volk", ("lisica", "krava"))
print(t)

('pingvin', 'medved', 'los', 'volk', ('lisica', 'krava'))

In [ ]:
# Primer: Touples are IMMUTABLE
t = ("pingvin", "medved", "los", "volk")
t[1] = "Bork!"

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Primer: da je dinamična
t  = ("pingvin", "medved", "los", "volk")
print(t)
print(type(t))

t = 2
print(t)
print(type(t))

('pingvin', 'medved', 'los', 'volk')
<class 'tuple'>
2
<class 'int'>

Zakaj bi uporabljali touple namesto list?

* Program je hitrejši, če manipulira z touple kot pa z list
* Če ne želimo spreminjati elementov

**TECHNICAL**

Treba pazit kadar inicializiramo touple samo z eno vrednostjo.

In [ ]:
t = (1,2,3,4) # nebi smel bit problem
print(t)
print(type(t))
print()

t = () # nebi smel bit problem. Prazen touple
print(t)
print(type(t))
print()

t = (2) # kle nastane problem
print(t)
print(type(t))
print()
'''
Since parentheses are also used to define operator precedence in expressions, Python evaluates 
the expression (2) as simply the integer 2 and creates an int object. To tell Python that you really want 
to define a singleton tuple, include a trailing comma (,) just before the closing parenthesis.
'''

t = (2,)
print(t)
print(type(t))

(1, 2, 3, 4)
<class 'tuple'>

()
<class 'tuple'>

2
<class 'int'>

(2,)
<class 'tuple'>

# Razlaga

In [6]:
moj_list = list([1,2,3,4])

In [9]:
red = tuple((1,2,3,4))
print(red)
print(type(red))

(1, 2, 3, 4)
<class 'tuple'>

In [2]:
red[0]

255

In [3]:
red[0] = 200

TypeError: 'tuple' object does not support item assignment

In [11]:
# poseben primer za en element
point = (1)
print(type(point))
point = (1,)
print(type(point))

<class 'int'>
<class 'tuple'>

In [12]:
len(red)

4

In [13]:
red[1:3]

(2, 3)

In [14]:
point = (45, 45, 65)
x, y, z = point
print(x, y, z)

45 45 65

In [15]:
a = 200
b = 400
print(a, b)

temp = a
a = b
b = temp
print(a, b)

200 400
400 200

In [39]:
a = 200
b = 400
print(a, b)
a, b = (300, 500)
print(a)
print(b)

200 400
300
500

In [44]:
(a,) = (4,
a, b = 4, 5
a, b, c = 4, 5, 6

In [22]:
a = (1,2,3,4,5)
print(a, type(a))

def test():
    return 1,2

x, y = test()
print(x, y)

(1, 2, 3, 4, 5) <class 'tuple'>
1 2