# Osnovni podatkovni tipi in operatorji

Da vidimo kakšnega tipa je spremenljivka, uporabimo besedo:
```python
type()
```

In [ ]:
x = 1
print(x)
print(type(x)) # type(x) nam pove kakšnega tipa je spremenljivka x

## Integer

In Python 3, there is effectively no limit to how long an integer value can be. Of course, it is constrained by the amount of memory your system has, as are all things, but beyond that an integer can be as long as you need it to be:

In [ ]:
print(123123123123123123123123123123123123123123123123)

Python interprets a sequence of decimal digits without any prefix to be a decimal number:

In [ ]:
print(10)

The following strings can be prepended to an integer value to indicate a base other than 10:

<div class="table-responsive">
<table class="table table-hover">
<thead>
<tr>
<th>Prefix</th>
<th>Interpretation</th>
<th>Base</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>0b</code> (zero + lowercase letter <code>'b'</code>)<br><code>0B</code> (zero + uppercase letter <code>'B'</code>)</td>
<td>Binary</td>
<td>2</td>
</tr>
<tr>
<td><code>0o</code> (zero + lowercase letter <code>'o'</code>)<br><code>0O</code> (zero + uppercase letter <code>'O'</code>)</td>
<td>Octal</td>
<td>8</td>
</tr>
<tr>
<td><code>0x</code> (zero + lowercase letter <code>'x'</code>)<br><code>0X</code> (zero + uppercase letter <code>'X'</code>)</td>
<td>Hexadecimal</td>
<td>16</td>
</tr>
</tbody>
</table>
</div>

In [ ]:
print(0o10)

In [ ]:
print(0x10)

In [ ]:
print(0b0010)

The underlying type of a Python integer, irrespective of the base used to specify it, is called `int`:

In [ ]:
type(10)

In [ ]:
type(0o10)

In [ ]:
type(0x10)

If you want to display a value while in a REPL session, you don’t need to use the print() function. Just typing the value at the >>> prompt and hitting Enter will display it:

In [ ]:
10

> Note that this does not work inside a script file. A value appearing on a line by itself in a script file will not do anything.

Use the `int()` buid-in function to convert to int:

In [ ]:
a = "2"
print(type(a))
a = int(a)
print(type(a), a)

### Caching Small Integer Values

From what you now know about variable assignment and object references in Python, the following probably won’t surprise you:

In [ ]:
m = 300
n = 300
print("m", id(m))
print("n", id(n))

With the statement m = 300, Python creates an integer object with the value 300 and sets m as a reference to it. n is then similarly assigned to an integer object with value 300—but not the same object. Thus, they have different identities, which you can verify from the values returned by id().

But consider this:

In [ ]:
m = 30
n = 30
print("m", id(m))
print("n", id(n))

Here, m and n are separately assigned to integer objects having value 30. But in this case, id(m) and id(n) are identical!

**For purposes of optimization, the interpreter creates objects for the integers in the range [-5, 256] at startup**, and then reuses them during program execution. Thus, when you assign separate variables to an integer value in this range, they will actually reference the same object.

## Floating-Point Numbers

The float type in Python designates a floating-point number. float values are specified with a decimal point. Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation:

In [ ]:
4.2

In [ ]:
type(4.2)

In [ ]:
4.

In [ ]:
.2

In [ ]:
4e7

In [ ]:
type(4e7)

In [ ]:
4.2e-4

Use the `float()` buid-in function to convert to float:

In [ ]:
a = 2
print(type(a))
a = float(a)
print(type(a), a)

### Floating-Point Representation

Almost all platforms represent Python float values as 64-bit “double-precision” values, according to the IEEE 754 standard. In that case, the maximum value a floating-point number can have is approximately 1.8 ⨉ 10^308. Python will indicate a number greater than that by the string inf:

In [ ]:
1.79e308

In [ ]:
1.8e308

The closest a nonzero number can be to zero is approximately 5.0 ⨉ 10^-324. Anything closer to zero than that is effectively zero:

In [ ]:
5e-324

In [ ]:
1e-325

Floating point numbers are represented internally as binary (base-2) fractions. Most decimal fractions cannot be represented exactly as binary fractions, so in most cases the internal representation of a floating-point number is an approximation of the actual value. In practice, the difference between the actual value and the represented value is very small and should not usually cause significant problems.

## Complex Numbers

Complex numbers are specified as `<real part>+<imaginary part>j`. For example:

In [ ]:
2+3j

In [ ]:
type(2+3j)

## Strings

Strings are sequences of character data. The string type in Python is called str.

String literals may be delimited **using either single or double quotes**. All the characters between the opening delimiter and matching closing delimiter are part of the string:

In [ ]:
print("I am a string.")
type("I am a string.")

In [ ]:
print('I am too.')
type('I am too.')

A string in Python **can contain as many characters as you wish**. The only limit is your machine’s memory resources. A string **can also be empty**:

In [ ]:
''

What if you want to include a quote character as part of the string itself? Your first impulse might be to try something like this:

In [ ]:
print('This string contains a single quote (') character.')

If you want to include either type of quote character within the string, the simplest way is to delimit the string with the other type. If a string is to contain a single quote, delimit it with double quotes and vice versa:

In [ ]:
print("This string contains a single quote (') character.")

In [ ]:
print('This string contains a double quote (") character.')

Use the `str()` buid-in function to convert to string:

In [ ]:
a = 2
print(type(a))
a = str(a)
print(type(a), a)

### Escape Sequences in Strings

Sometimes, you want Python to interpret a character or sequence of characters within a string differently. This may occur in one of two ways:
- You may want to **suppress the special interpretation** that certain characters are usually given within a string.
- You may want to **apply special interpretation to characters** in a string which would normally be taken literally.

You can accomplish this using a backslash (`\`) character. A backslash character in a string indicates that one or more characters that follow it should be treated specially. (This is referred to as an escape sequence, because the backslash causes the subsequent character sequence to “escape” its usual meaning.)

You have already seen the problems you can come up against when you try to include quote characters in a string. If a string is delimited by single quotes, you can’t directly specify a single quote character as part of the string because, for that string, the single quote has special meaning—it terminates the string.

Specifying a backslash in front of the quote character in a string “escapes” it and causes Python to suppress its usual special meaning. It is then interpreted simply as a literal single quote character:

In [ ]:
print('This string contains a single quote (\') character.')

To include a literal backslash in a string, escape it with a backslash:

In [ ]:
print('foo\\bar')

To break up a string over more than one line, include a backslash before each newline, and the newlines will be ignored:

In [ ]:
print('a\
b\
c')

Next, suppose you need to create a string that contains a tab character in it. Some text editors may allow you to insert a tab character directly into your code. But many programmers consider that poor practice, for several reasons:

- The computer can distinguish between a tab character and a sequence of space characters, but you can’t. To a human reading the code, tab and space characters are visually indistinguishable.
- Some text editors are configured to automatically eliminate tab characters by expanding them to the appropriate number of spaces.
- Some Python REPL environments will not insert tabs into code.

In [ ]:
# ASCII Horizontal Tab (TAB) character
print("a\tb")

In [ ]:
# ASCII Linefeed (LF) character
print("a\nb")

In [ ]:
# ASCII Backspace (BS) character
print("ab\b")

### Raw Strings

A raw string literal is preceded by r or R, which specifies that escape sequences in the associated string are not translated. The backslash character is left in the string:

In [ ]:
print('foo\nbar')

In [ ]:
print(r'foo\nbar')

In [ ]:
print(R'foo\\bar')

### Triple-Quoted Strings

There is yet another way of delimiting strings in Python. Triple-quoted strings are delimited by matching groups of three single quotes or three double quotes. Escape sequences still work in triple-quoted strings, but single quotes, double quotes, and newlines can be included without escaping them. This provides a convenient way to create a string with both single and double quotes in it:

In [ ]:
print('''This string has a single (') and a double (") quote.''')

Because newlines can be included without escaping them, this also allows for multiline strings:

In [ ]:
print("""This is a
string that spans
across several lines""")

## Boolean Type

Python 3 provides a Boolean data type. Objects of Boolean type may have one of two values, True or False:

In [ ]:
type(True)

In [ ]:
type(False)

As you will see in upcoming tutorials, expressions in Python are often evaluated in Boolean context, meaning they are interpreted to represent truth or falsehood. A value that is true in Boolean context is sometimes said to be “truthy,” and one that is false in Boolean context is said to be “falsy.” (You may also see “falsy” spelled “falsey.”)

The “truthiness” of an object of Boolean type is self-evident: Boolean objects that are equal to True are truthy (true), and those equal to False are falsy (false). But non-Boolean objects can be evaluated in Boolean context as well and determined to be true or false.

Use the `bool()` buid-in function to convert to bool:

In [ ]:
a = 0
print(type(a))
a = bool(a)
print(type(a), a)

In Python, all objects have a specific truth value. So, you can use the logical operators with all types of operands.

Python has well-established rules to determine the truth value of an object when you use that object in a Boolean context or as an operand in an expression built with logical operators. Here’s what the documentation says about this topic:

By default, an object is considered true unless its class defines either a `__bool__()` method that returns False or a `__len__()` method that returns zero, when called with the object. Here are most of the built-in objects considered false:
- constants defined to be false: None and False.
- zero of any numeric type: 0, 0.0, 0j, Decimal(0), Fraction(0, 1)
- empty sequences and collections: '', (), [], {}, set(), range(0)

## Getting Started With Operators

In programming, an **operator** is usually a symbol or combination of symbols that allows you to perform a specific operation. This operation can act on one or more **operands**. If the operation involves a single operand, then the operator is **unary**. If the operator involves two operands, then the operator is **binary**.

In [ ]:
-273.15 # unary

In [ ]:
5 - 2 # binary

Programming languages typically have operators built in as part of their syntax. In many languages, including Python, you can also create your own operator or modify the behavior of existing ones, which is a powerful and advanced feature to have.

Operators by themselves don’t do much:

In [ ]:
-

**An expression is a simple statement that produces and returns a value.**

In [ ]:
7 + 5

## Assignment Operator

The assignment operator is one of the most frequently used operators in Python. The operator consists of a single equal sign (`=`), and it operates on two operands. The left-hand operand is typically a variable, while the right-hand operand is an expression.

The assignment operator allows you to assign values to variables. Strictly speaking, in Python, this operator makes variables or names refer to specific objects in your computer’s memory. In other words, an assignment creates a reference to a concrete object and attaches that reference to the target variable.

In [ ]:
number = 42
day = "Friday"

## Arithmetic Operators

Arithmetic operators are those operators that allow you to perform arithmetic operations on numeric values. Yes, they come from math, and in most cases, you’ll represent them with the usual math signs. The following table lists the arithmetic operators that Python currently supports:

<div class="table-responsive">
<table class="table table-hover">
<thead>
<tr>
<th class="text-center">Operator</th>
<th>Type</th>
<th>Operation</th>
<th class="text-center">Sample Expression</th>
<th>Result</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-center"><code>+</code></td>
<td>Unary</td>
<td>Positive</td>
<td class="text-center"><code>+a</code></td>
<td><code>a</code> without any transformation since this is simply a complement to negation</td>
</tr>
<tr>
<td class="text-center"><code>+</code></td>
<td>Binary</td>
<td>Addition</td>
<td class="text-center"><code>a + b</code></td>
<td>The arithmetic sum of <code>a</code> and <code>b</code></td>
</tr>
<tr>
<td class="text-center"><code>-</code></td>
<td>Unary</td>
<td>Negation</td>
<td class="text-center"><code>-a</code></td>
<td>The value of <code>a</code> but with the opposite sign</td>
</tr>
<tr>
<td class="text-center"><code>-</code></td>
<td>Binary</td>
<td>Subtraction</td>
<td class="text-center"><code>a - b</code></td>
<td><code>b</code> subtracted from <code>a</code></td>
</tr>
<tr>
<td class="text-center"><code>*</code></td>
<td>Binary</td>
<td>Multiplication</td>
<td class="text-center"><code>a * b</code></td>
<td>The product of <code>a</code> and <code>b</code></td>
</tr>
<tr>
<td class="text-center"><code>/</code></td>
<td>Binary</td>
<td>Division</td>
<td class="text-center"><code>a / b</code></td>
<td>The quotient of <code>a</code> divided by <code>b</code>, expressed as a float</td>
</tr>
<tr>
<td class="text-center"><code>%</code></td>
<td>Binary</td>
<td>Modulo</td>
<td class="text-center"><code>a % b</code></td>
<td>The remainder of <code>a</code> divided by <code>b</code></td>
</tr>
<tr>
<td class="text-center"><code>//</code></td>
<td>Binary</td>
<td>Floor division or integer division</td>
<td class="text-center"><code>a // b</code></td>
<td>The quotient of <code>a</code> divided by <code>b</code>, rounded to the next smallest whole number</td>
</tr>
<tr>
<td class="text-center"><code>**</code></td>
<td>Binary</td>
<td>Exponentiation</td>
<td class="text-center"><code>a**b</code></td>
<td><code>a</code> raised to the power of <code>b</code></td>
</tr>
</tbody>
</table>
</div>

In [ ]:
a = 5
b = 2

In [ ]:
a + b

In [ ]:
a / b

In [ ]:
a % b

In [ ]:
a // b # Floor division always rounds down.

In [ ]:
a**b

Again, the standard division operator (/) always returns a floating-point number, even if the dividend is evenly divisible by the divisor:

In [ ]:
10 / 5

Python is srongly typed: It won’t let unsafe operations on incompatible types go unnoticed.

In [ ]:
3 + "3"

## Comparison Operators

The Python comparison operators allow you to compare numerical values and any other objects that support them. The table below lists all the currently available comparison operators in Python:

<div class="table-responsive">
<table class="table table-hover">
<thead>
<tr>
<th class="text-center">Operator</th>
<th>Operation</th>
<th class="text-center">Sample Expression</th>
<th>Result</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-center"><code>==</code></td>
<td>Equal to</td>
<td class="text-center"><code>a == b</code></td>
<td>• <code>True</code> if the value of <code>a</code> is equal to the value of <code>b</code><br>• <code>False</code> otherwise</td>
</tr>
<tr>
<td class="text-center"><code>!=</code></td>
<td>Not equal to</td>
<td class="text-center"><code>a != b</code></td>
<td>• <code>True</code> if <code>a</code> isn’t equal to <code>b</code><br>• <code>False</code> otherwise</td>
</tr>
<tr>
<td class="text-center"><code>&lt;</code></td>
<td>Less than</td>
<td class="text-center"><code>a &lt; b</code></td>
<td>• <code>True</code> if <code>a</code> is less than <code>b</code><br>• <code>False</code> otherwise</td>
</tr>
<tr>
<td class="text-center"><code>&lt;=</code></td>
<td>Less than or equal to</td>
<td class="text-center"><code>a &lt;= b</code></td>
<td>• <code>True</code> if <code>a</code> is less than or equal to <code>b</code><br>• <code>False</code> otherwise</td>
</tr>
<tr>
<td class="text-center"><code>&gt;</code></td>
<td>Greater than</td>
<td class="text-center"><code>a &gt; b</code></td>
<td>• <code>True</code> if <code>a</code> is greater than <code>b</code><br>• <code>False</code> otherwise</td>
</tr>
<tr>
<td class="text-center"><code>&gt;=</code></td>
<td>Greater than or equal to</td>
<td class="text-center"><code>a &gt;= b</code></td>
<td>• <code>True</code> if <code>a</code> is greater than or equal to <code>b</code><br>• <code>False</code> otherwise</td>
</tr>
</tbody>
</table>
</div>

The comparison operators are all binary. This means that they require left and right operands. These operators **always return a Boolean value (True or False)** that depends on the truth value of the comparison at hand.

Note that comparisons between objects of different data types often don’t make sense and sometimes aren’t allowed in Python. For example, you can compare a number and a string for equality with the == operator. However, you’ll get False as a result:

In [ ]:
2 == "2"

Non-equality comparisons between operands of different data types raise a TypeError exception:

In [ ]:
5 < "7"

It’s important to note that in the context of comparisons, **integer and floating-point values are compatible, and you can compare them.**

### Comparison of Integer Values

Probably, the more straightforward comparisons in Python and in math are those involving integer numbers.

Consider the following examples that compare integer numbers:

In [ ]:
a = 10
b = 20
a == b

In [ ]:
a < b

### Comparison of Floating-Point Values

Comparing floating-point numbers is a bit more complicated than comparing integers. The value stored in a float object may not be precisely what you’d think it would be. For that reason, **it’s bad practice to compare floating-point values for exact equality using the == operator**.

Consider the example below:

In [ ]:
x = 1.1 + 2.2
print(x)

In [ ]:
x == 3.3

To compare floating-point numbers for equality, you need to use a different approach. The preferred way to determine whether two floating-point values are equal is to determine whether they’re close to one another, given some tolerance.

The math module from the standard library provides a function conveniently called `isclose()` that will help you with float comparison. The function takes two numbers and tests them for approximate equality:

In [ ]:
from math import isclose

x = 1.1 + 2.2
isclose(x, 3.3)

### Comparison of Strings

You can also use the comparison operators to compare Python strings in your code. In this context, you need to be aware of how Python internally compares string objects. In practice, Python compares strings character by character using each character’s Unicode code point. Unicode is Python’s default character set.

In [ ]:
"A" == "a"

In [ ]:
"A" > "a"

In [ ]:
print(ord("A"), ord("a"))

The comparison uses lexicographical ordering, which means that Python compares the first item from each string. If their Unicode code points are different, this difference determines the comparison result. If the Unicode code points are equal, then Python compares the next two characters, and so on, until either string is exhausted:

In [ ]:
"Hello" > "HellO"

## Boolean Operators

Python has three Boolean or logical operators: `and`, `or`, and `not`. They define a set of operations denoted by the generic operators AND, OR, and NOT. With these operators, you can create compound conditions.

<div class="table-responsive">
<table class="table table-hover">
<thead>
<tr>
<th>Operator</th>
<th>Sample Expression</th>
<th>Result</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>and</code></td>
<td><code>x and y</code></td>
<td>• <code>True</code> if both <code>x</code> and <code>y</code> are <code>True</code><br>• <code>False</code> otherwise</td>
</tr>
<tr>
<td><code>or</code></td>
<td><code>x or y</code></td>
<td>• <code>True</code> if either <code>x</code> or <code>y</code> is <code>True</code><br>• <code>False</code> otherwise</td>
</tr>
<tr>
<td><code>not</code></td>
<td><code>not x</code></td>
<td>• <code>True</code> if <code>x</code> is <code>False</code><br>• <code>False</code> if <code>x</code> is <code>True</code></td>
</tr>
</tbody>
</table>
</div>

In [ ]:
5 < 7 and 3 == 3

In [ ]:
5 < 7 and 3 != 3

In [ ]:
5 < 7 or 3 == 3

In [ ]:
5 > 7 or 3 == 3

In [ ]:
not 5 < 7

Here are some code examples that use integer values. Remember that in Python, the zero value of numeric types is falsy. The rest of the values are truthy:

In [ ]:
3 and 4

In [ ]:
0 and 4

In [ ]:
3 and 0

## Identity Operators

Python provides two operators, is and is not, that allow you to determine whether two operands have the same **identity**. In other words, they let you check if the operands refer to the same object. Note that identity isn’t the same thing as equality. The latter aims to check whether two operands contain the same data.

<div class="table-responsive">
<table class="table table-hover">
<thead>
<tr>
<th>Operator</th>
<th>Sample Expression</th>
<th>Result</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="https://docs.python.org/3/reference/expressions.html#is"><code>is</code></a></td>
<td><code>x is y</code></td>
<td>• <code>True</code> if <code>x</code> and <code>y</code> hold a reference to the same in-memory object<br>• <code>False</code> otherwise</td>
</tr>
<tr>
<td><a href="https://docs.python.org/3/reference/expressions.html#is-not"><code>is not</code></a></td>
<td><code>x is not y</code></td>
<td>• <code>True</code> if <code>x</code> points to an object different from the object that <code>y</code> points to<br>• <code>False</code> otherwise</td>
</tr>
</tbody>
</table>
</div>

In [ ]:
x = 1001
y = 1001

print(x == y)
print(x is y)

In this example, x and y refer to objects whose value is 1001. So, they’re equal. However, they don’t reference the same object. That’s why the is operator returns False. You can check an object’s identity using the built-in id() function:

In [ ]:
id(x)

In [ ]:
id(y)

As you can conclude from the id() output, x and y don’t have the same identity. So, they’re different objects, and because of that, the expression x is y returns False. In other words, you get False because you have two different instances of 1001 stored in your computer’s memory.

When you make an assignment like y = x, Python creates a second reference to the same object. Again, you can confirm that with the id() function or the is operator:

In [ ]:
a = "Hello, Pythonista!"
b = a

print(id(a), id(b))

In [ ]:
a is b

# Razlaga

In [1]:
type(1)

int

In [2]:
print(45888888888888888888888888888888884449309429455493245849953458)

45888888888888888888888888888888884449309429455493245849953458

In [6]:
x = 4
# get size of x in bytes
import sys
print(sys.getsizeof(x) * 8)

224

In [7]:
print(0x10) # Hexadecimal

16

In [9]:
print(0b0010) # Binary

2

In [10]:
print(0o10) # Octal

8

In [11]:
type(0x10)

int

In [17]:
a = 454545.56
print(type(a), a)
a = int(a)
print(type(a), a)

<class 'float'> 454545.56
<class 'int'> 454545

Float

In [19]:
4.2

4.2

In [20]:
type(.043)

float

In [21]:
4.

4.0

In [22]:
4e7

40000000.0

In [23]:
float(43434)

43434.0

In [24]:
1.79e308

1.79e+308

In [25]:
1.8e308

inf

In [26]:
5e-324

5e-324

In [27]:
1e-325

0.0

Complex Numbers

In [28]:
2+3j

(2+3j)

Strings

In [29]:
print("Besedilo je tako")

Besedilo je tako

In [30]:
print('Besedilo je tako')

Besedilo je tako

In [31]:
type("Besedilo je tako")

str

In [32]:
""

''

In [34]:
print("It's is a nice day today.")

It's is a nice day today.

In [36]:
type(str(4))

str

In [37]:
print('It\'s is a nice day today.')

It's is a nice day today.

In [39]:
print("c:\\Users\\janez\\Documents\\Python")

c:\Users\janez\Documents\Python

In [40]:
import os

a = os.path.join("c:", "Users", "janez", "Documents", "Python")
print(a)

c:Users\janez\Documents\Python

In [44]:
print("neki \
je \
lepo")

neki je lepo

In [45]:
print("Danes je\tlepo")

Danes je	lepo

In [46]:
# ASCII Linefeed (LF) character
print("a\nb")

a
b

In [49]:
# ASCII Backspace (BS) character
print("ab\b")

a

In [51]:
print(r'foo\d+bar')

foo\d+bar

In [54]:
print("""This is a 
string that spans" '
across several lines""")

This is a
string that spans" '
across several lines

Bool

In [57]:
type(True)

bool

In [58]:
type(False)

bool

In [60]:
bool(0.4343)

True

Operacije

In [62]:
5-2

3

In [64]:
-4

-4

In [65]:
r = 3.14

In [75]:
a = 5
b = 2
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a % b =", a % b)
print("a // b =", a // b)
print("a ** b =", a ** b)

a + b = 7
a - b = 3
a * b = 10
a / b = 2.5
a % b = 1
a // b = 2
a ** b = 25

In [72]:
10/5

2.0

In [78]:
3 + "3"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Comparison Operators

In [84]:
print("2 == 2 ->", 2 == 2)
print("2 == '2' ->", 2 == '2')
print("2 != 2 ->", 2 != 2)
print("2 < 3 ->", 2 < 3)
print("2 > 3 ->", 2 > 3)
print("2 <= 3 ->", 2 <= 3)
print("2 >= 3 ->", 2 >= 3)

2 == 2 -> True
2 == '2' -> False
2 != 2 -> False
2 < 3 -> True
2 > 3 -> False
2 <= 3 -> True
2 >= 3 -> False

In [85]:
x = 1.1 + 2.2
print(x)
x == 3.3

3.3000000000000003

False

In [88]:
from math import isclose

x = 1.1 + 2.2
isclose(x, 3.3, rel_tol=1e-17)

False

https://docs.python.org/3/library/decimal.html

0.625 = 1/2 + 0/4 + 1/8

In [89]:
1/2 + 0/4 + 1/8

0.625

In [91]:
0.625 + 0.5 == 1.125

True

In [92]:
"A" == "a"

False

In [93]:
ord("A")

65

In [94]:
ord("a")

97

In [96]:
"abbb" > "Abbb"

True

Boolean Operators

and, or, and not

     && | || !

In [97]:
5 > 7 and 7 > 5

False

In [100]:
a = True
b = 4 > 2

a or not b

True

Identity Operators

In [108]:
e = 1000
f = 1000

print(e == f)
print(id(e), id(f))
print(e is f)

True
2612634681392 2612634681584
False

In [109]:
# [-5, 256]
e = 10
f = 10

print(e == f)
print(id(e), id(f))
print(e is f)
print(e is not f)

True
140717565594328 140717565594328
True
False

In [105]:
True is True

True